{% extends "base2.html" %}
{% block title %}<title>My Bids - Auction Rush</title>{% endblock %}
{% block content %}
<style>
    h2{
        font-weight: bolder;
        font-size:xx-large;
    }
    .winning{
        display: flex;
    }
    .con{
        margin-left: 170px;
    }
</style>
<h2> My Bids </h2>
{% if my_bids_list %}
<ul class="my-bid-list">
    {% for bid in my_bids_list %}
        <li class="my-bid-li"><a class="my-bid-link" href="{% url 'auctions:detail' bid.auction.id %}">{{ bid.auction.title }}</a>
            {% if bid.auction.winner and bid.auction.winner == user %}
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeRwRaqaK8osbBbd0Je9e04kWy_ZCCFsdTFQ&usqp=CAU" alt="">
           {% else %}
           <img src="https://previews.123rf.com/images/gorkemdemir/gorkemdemir1409/gorkemdemir140901262/31998728-better-luck-next-time-red-rubber-stamp-text-vector-over-a-white-background.jpg" alt="" style="width: 368px;height: 137px;">
           {% endif %}

            <hr>
            <div class="my-bid-label">
                My last bid: {{ bid.amount }}$
                <div class="my-bid-date">({{ bid.date }})</div>
            </div>
            {% if bid.auction.is_active %}
                <div class="my-bid-status-active">Pending</div>
            {% else %}
                {% if bid.auction.winner and bid.auction.winner == user %}
                <div class="winning">
                <div class="my-bid-status-won">Contact Seller {{ bid.auction.contact}}</div>
                 <div class="my-bid-status-won con">Won for {{ bid.amount }}(INR)</div>
                </div>
                {% else %}
                    <div class="my-bid-status-lost">Lost</div>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% else %}
    <h4>No bids are available.</h4>
{% endif %}

{% endblock %}
